<div class="cards">
  <div class="card">
    <h2 class="card-title">Tires</h2>
    <img src="img/handlebars_card.jpg" alt="">
  </div>
  <div class="card">
    <h2 class="card-title">Seats</h2>
    <img src="img/handlebars_card.jpg" alt="">
  </div>
  <div class="card">
    <h2 class="card-title">Handlebars</h2>
    <img src="img/handlebars_card.jpg" alt="">
  </div>
</div>