<div class="cards">
  <div class="zoom">
    <div class="card">
      <h2 class="card-title">Tires</h2>
      <img src="img/handlebarsCard.png" alt="">
    </div>
  </div>
  <div class="zoom">
    <div class="card">
      <h2 class="card-title">Seats</h2>
      <img src="img/handlebarsCard.png" alt="">
    </div>
  </div>
  <div class="zoom">
    <div class="card">
      <h2 class="card-title">Handlebars</h2>
      <img src="img/handlebarsCard.png" alt="">
    </div>
  </div>
  <div class="zoom">
    <div class="card">
      <h2 class="card-title">Frames</h2>
      <img src="img/handlebarsCard.png" alt="">
    </div>
  </div>
</div>