<div class="cards" id="cardArea">
  <div class="zoom">
    <div class="card">
      <h2 class="card-title">Tires</h2>
      <img src="img/tire.png" id="tire" alt="tire example">
    </div>
  </div>
  <div class="zoom">
    <div class="card">
      <h2 class="card-title">Seats</h2>
      <img src="img/seat.png" id="seat" alt="seat example">
    </div>
  </div>
  <div class="zoom">
    <div class="card">
      <h2 class="card-title">Handlebars</h2>
      <img src="img/handlebar.png" id="handlebar" alt="handlebar example">
    </div>
  </div>
  <div class="zoom">
    <div class="card">
      <h2 class="card-title">Frames</h2>
      <img src="img/frame.jpg" id="frame" alt="frame example">
    </div>
  </div>
</div>