<div class="row">
  <div class="col-sm-6">
    <div class="card text-center">
      <img src="img/Stumpjumper_Frame.jpg" class="card-img-top" alt="Stumpjumper Frame example">
      <div class="card-body">
        <h5 class="card-title">Stumpjumper Frame — $2,700.00</h5>
        <p class="card-text">Built to get us up the mountain just as fast as it gets us down, the Stumpjumper excels on any trail or terrain. This 130mm travel trail bike is built with a lightweight FACT carbon frame that accelerates quickly and responds well to even the slightest rider input. We pair it with a 140mm fork to create an awesome mid-travel steed for our adventures in the mountains. The Stumpjumper features progressive geometry with a long wheelbase, low standover height, slack head tube, and steep seat tube.</p>
        <a class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-center">
      <img src="img/IBIS_Ripmo.jpg" class="card-img-top" alt="Ground control tire example">
      <div class="card-body">
        <h5 class="card-title">IBIS Ripmo — $1,999.00</h5>
        <p class="card-text">Ibis has decided to bring the impressive performance of the Ripmo to a wider audience by releasing an aluminum-framed version of the bike. This aluminum steed builds off the success of the Ripmo, but comes with a few tweaks that push it a little further toward the rowdy side of things. In addition to the burly aluminum frame, the new Ripmo AF comes equip with a side mounted, belt fed machine gun that lets you mow down the competition in style. Every purchase comes with a free set of five 7.62 mm feed strips</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-center">
      <img src="img/S-Works_Enduro_Frame.jpg" class="card-img-top" alt="s works enduro frame example">
      <div class="card-body">
        <h5 class="card-title">S-Works Enduro Frame — $3,400.00</h5>
        <p class="card-text">Built for pure speed at the highest levels of mountain bike racing, the S-Works Enduro Frame makes a great starting point for building up a world-class enduro machine. Its 170mm of suspension travel allows the bike to utilize perfectly balanced kinematics to mute trail obstacles as we charge down the mountain to a podium finish. It also comes with the optional "trail remote" in case you wish to unmute, raise, or lower the volume on trail obstacles. If youre feeling lucky, you can even try to change the channel, however, we're not exactly sure what that does...</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-center">
      <img src="img/Chromag_Monk_DJ_Frame.jpg" class="card-img-top" alt="chromag monk dj frame example">
      <div class="card-body">
        <h5 class="card-title">Chromag Monk DJ Frame — $736.00</h5>
        <p class="card-text">The Monk DJ Frame is Chromag's signature dirt jumper featuring 26in wheels. It's constructed (as usual per the brand) with 4130 chromoly steel, and features a unique stainless steel horizontal dropout system. This makes running a single-speed and disc brake setup a breeze. Custom chain stays offer a light and stiff rear triangle in combination with a dedicated dirt jumper geometry, and Chromag added their chain tug integration into the dropout on both sides. We like this frame for its personality and attitude.</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
</div>