<div class="row">
  <div class="col-sm-6">
    <div class="card text-center">
      <img src="img/2021-pnw-components-coast-handlebar-1.jpg" class="card-img-top" alt="Trigger Pro bike tire example">
      <div class="card-body">
        <h5 class="card-title">Genetic STV Road Handlebar — $26.99</h5>
        <p class="card-text">The Genetic STV Road Bar delivers a good balance of stiffness, comfort and weight at a decent price. It also has a compact shape that can be used by less flexible riders. The STV does pretty much everything a handlebar needs to. Made from 6061 series aluminium alloy, it offers loads of stiffness and it’s slightly thinner-than-usual top section means you can run thicker bar tape for extra comfort without adding too much to the bulk.</p>
        <a class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-center">
      <img src="img/2021-pro-vibe-aero-alloy-handlebar.png" class="card-img-top" alt="Ground control tire example">
      <div class="card-body">
        <h5 class="card-title">Genetic Driser-16 — $44.99</h5>
        <p class="card-text">The Genetic Driser-16 bar is a good choice for long rides off-road, where the flared drops give control and the wide tops offer plenty of comfort for your hands. This bar offers a 16° flare of the drops, plus a 20mm rise to the tops. This rise will come in handy for those looking for a more upright position for long rides on or off-road without getting a new stem or – for anyone who has maxed out their steerer tube – a new fork.</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-center">
      <img src="img/genetic-driser-16-bars.jpg" class="card-img-top" alt="sawtooth tire example">
      <div class="card-body">
        <h5 class="card-title">PNW Components Coast Handlebar — $69.99</h5>
        <p class="card-text">The PNW Components Coast handlebar is an instant classic: wide, shallow and stable, it's perfectly suited for long days on rough roads and trails. It's affordable too, and has a lifetime warranty. The Coast bar is, on the face of it, a simple idea: go wider and shallower, to give more stability and more comfort. PNW does a range of mountain bike bars, where wider has been better since the world got over the 1980s addiction to bar ends and realised leverage is king in keeping your wheel tracking through the rough stuff.</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-center">
      <img src="img/genetic-stv-road-handlebar.jpg" class="card-img-top" alt="trigger pro example">
      <div class="card-body">
        <h5 class="card-title">Pro Vibe Aero alloy handlebar — $84.99</h5>
        <p class="card-text">The Pro Vibe Aero Alloy Handlebar is comfortable to hold, whether on the tops or drops, with the six-degree flare allowing for a narrower position when on the hoods while retaining maximum control when using the drops. It's not the lightest bar, but it's high quality and will save a heap of cash over carbon alternatives, plus it features internal routing and looks the business.</br> We arent sure what "looks the buisness" means, but our in-house catcphrase-maker promised us that "it's what the cool kids say" and we don't care enough to fact check them.</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
</div>