<div id="carousel" class="carousel slide" data-bs-ride="carousel" onkeydown="cycle()">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="img/grassyHill.png" class="d-block w-100" alt="a grassy hill">
    </div>
    <div class="carousel-item">
      <img src="img/grassyHill.png" class="d-block w-100" alt="a grassy hill">
    </div>
    <div class="carousel-item">
      <img src="img/grassyHill.png" class="d-block w-100" alt="a grassy hill">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>