<div id="carouselExampleDark" class="carousel carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <img data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" src="img/Gear_Icon_Blue.png">
    <img data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2" src="img/Gear_Icon_Blue.png">
    <img data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3" src="img/Gear_Icon_Blue.png">
  </div>
  <div class="carousel-inner" style="background-image: url('img/sky.png');" alt="a blue sky with white clouds">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="img\10_off_banner.png" class="d-block w-100" alt="10 percent off icon on a dirt road background">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="carouselText"><span>Website Launch Sale!</span></h5>
        <p class="carouselText"><span>To celebrate, get 10% off every online order using code "LAUNCH22".</span></p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img src="img\survey_banner.png" class="d-block w-100" alt="survey icon on a dirt road background">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="carouselText"><span>Survey Discount</span></h5>
        <p class="carouselText"><span>If you've got a few minutes, take the survey after making a purchase to get 15% off your next order over $100!</span></p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img src="img\banner3.png" class="d-block w-100" alt="blurry color blob">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="carouselText"><span>Daily Updates</span></h5>
        <p class="carouselText"><span>Check back every day to see new sales and new inventory! Members get to view new sales before anyone else!</span></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>