<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">LOGO</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="nav nav-tabs">
      <li>
        <div class="input-group" id="search-bar-group">
          <input id="search-bar" type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" />
          <button type="button" class="btn btn-outline-primary"><img src="img/magnifying-glass.png"></button>
        </div>
      </li>
      <li class="nav-item" id="company-name">
        <a class="nav-link" href="/">ROCKINGHAM BICYCLE &amp; FABRICATION</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          SHOP
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a href="/handle-bars" class="dropdown-item">Handle Bars</a>
          <a href="/frames" class="dropdown-item">Frames</a>
          <a href="/seats" class="dropdown-item">Seats</a>
          <a class="dropdown-item" href="/tires">Tires</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bike-builder">BIKE BUILDER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">ABOUT</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          SERVICES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/rentals">Rentals</a>
          <a class="dropdown-item" href="/repairs">Repairs</a>
          <a class="dropdown-item" href="/returns">Returns</a>
        </div>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" id="navbarDropdownMenuLink"></a>
      </li>
    </ul>
  </div>
</nav>