<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="img/RBF_secondary.jpg" style="width: 90px"></a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="nav nav-tabs">
      <li>
        <div class="input-group" id="search-bar-group">
          <input id="search-bar" type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
          <button type="button" class="btn btn-outline-primary"><img src="img/magnifying-glass.png"></button>
        </div>
      </li>
      <li class="nav-item" id="company-name">
        <a class="nav-link" href="/">ROCKINGHAM BICYCLE &amp; FABRICATION</a>
      </li>
      <li class="nav-item dropdown">
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="shopDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
            SHOP
          </a>

          <ul class="dropdown-menu" aria-labelledby="shopDropdownMenu">
            <li><a class="dropdown-item" href="/handlebars">Handlebars</a></li>
            <li><a class="dropdown-item" href="/frames">Frames</a></li>
            <li><a class="dropdown-item" href="/seats">Seats</a></li>
            <li><a class="dropdown-item" href="/tires">Tires</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bike-builder">BIKE BUILDER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account">SIGN UP / LOGIN</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" id="navbarDropdownMenuLink"></a>
      </li>
    </ul>
  </div>
</nav>