<div class="row">
  <div class="col-sm-6">
    <div class="card text-center">
      <img src="img/Women's Liberator X Gel Saddle.jpg" class="card-img-top" alt="Women's Liberator X Gel Saddle example">
      <div class="card-body">
        <h5 class="card-title">Women's Liberator X Gel Saddle — $82.95</h5>
        <p class="card-text">Terry's expanded line of saddles provides a little something for everyone. The Liberator X Gel is designed for comfort in the upright riding position with more padding and a wider shape than the original version. Specifically designed for the female rider and perfect for many touring and hybrid set-ups. This saddle comes with an interesting anti-theft feature, if the thief is a man of course. Because of the way this saddle is made, any man that tries to ride a bike with this saddle on it will have their genetalia immediatly eviserated.</p>
        <a class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-center">
      <img src="img/Stealth Curved Team Saddle.jpg" class="card-img-top" alt="Stealth Curved Team Saddle example">
      <div class="card-body">
        <h5 class="card-title">Stealth Curved Team Saddle — $200.19</h5>
        <p class="card-text">The Stealth Curved Team edition employs a rounded rear profile and slightly narrower nose to facilitate comfortable left and right seated movement. It also features an elevated rear section for enhanced aero position stability. The PRO Stealth Curved Team Saddle features a carbon reinforced polymer base, carbon rails and lightweight EVA padding, the saddle is covered by the same smooth PU outer layer as the rest of the Stealth line. The special "Stealth-Tech" material used in the production of this saddle allows you to become completly undetectable by all forms of radar.</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-center">
      <img src="img/Delta V Saddle.jpg" class="card-img-top" alt="Delta V Saddle example">
      <div class="card-body">
        <h5 class="card-title">Delta V Saddle — $213.70</h5>
        <p class="card-text">The new JCOB Delta V Saddle has got a new name and a new look for a saddle that has been the go-to for rider comfort for almost 25 years. Replacing the classic V-flow model, the Delta V is a solid choice for anything from entry-level comfort to Ironman events. Over 50 years of research and development have firmly established John Cobb's reputation as an aerodynamic design legend. Countless champions and racing professionals rely on JCOB saddles as their ultimate ergonomic high-performance solution. In fact, this saddle is so ergonomic that it is considered to be technically human by 9/10 scientists. Try to wrap your head around that one.</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-center">
      <img src="img/Arione Classic Saddle.jpg" class="card-img-top" alt="Arione Classic Saddle example">
      <div class="card-body">
        <h5 class="card-title">Arione Classic Saddle — $116.99</h5>
        <p class="card-text">The favorite of many riders, from the professional ranks right down to weekend warriors, the Airone offers a low profile and comfortable shape. Featuring K:ium rails with a lower weight and better shock absorption than Titanium. The most suprising part about this particular saddle is the fact that the proprietary material, K:ium, is a completely alien element found on the planet K:subrion 8. Coincidently it is the only bike saddle that will imediatly cause you to be arrested by the fbi due to owning unregistered alien technology. </br><i>RB+F is not responsible for any complications that may arise from the purchase of this saddle</i></p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
</div>