<div class="row">
  <div class="col-sm-6">
    <div class="card text-center">
      <img src="img/Storm_DH.png" class="card-img-top" alt="Trigger Pro bike tire example">
      <div class="card-body">
        <h5 class="card-title">Storm DH — <strike>$75</strike> $17.95</h5>
        <p class="card-text">With soft rubber compounds that stick to wet surfaces and precisely spaced knobs that allow the tire to clean itself while riding, the mud-munching Storm DH tire is made for riders who won't shy away from an environmental challenge and also love a mouthful of moist dirt. Well, I've never eaten dirt of course but I heard it might taste good so I figured it would be worth mentioning...</p>
        <a class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-center">
      <img src="img/Ground_Control_Tire.png" class="card-img-top" alt="Ground control tire example">
      <div class="card-body">
        <h5 class="card-title">Ground Control 2Bliss Ready — <strike>$55</strike> $8.95</h5>
        <p class="card-text">The Ground Control 2Bliss Ready is an exceptionally versatile trail tire. CAD engineered knob shapes strengthen the knob structure for optimal braking and traction, but it keeps the knob surfaces adaptable for best possible ground control. And now, it also features our own proprietary compound that allows the rider to fly through sheer force of willpower alone</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-center">
      <img src="img/Sawtooth_Tire.png" class="card-img-top" alt="sawtooth tire example">
      <div class="card-body">
        <h5 class="card-title">Sawtooth 2Bliss Ready — <strike>$40</strike> $10.95</h5>
        <p class="card-text">The Sawtooth is THE adventure tire of choice, developed to handle any road surface and to be tough enough to withstand the rigors of exploration. The tread offers sharp angles and edges to hook onto any surface, while the Endurant casing reinforces the sidewall for added protection and high carrying loads, just in case you need to carry an injured soldier back from the front lines... or if you just had an extra heavy lunch</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-center">
      <img src="img/Trigger_Pro.png" class="card-img-top" alt="trigger pro example">
      <div class="card-body">
        <h5 class="card-title">Trigger Pro 2Bliss Ready — $55</h5>
        <p class="card-text">The Trigger Pro 2Bliss Ready tire rolls fast on asphalt, hard-pack, and gravel paths, making it ideal for anyone looking to get the most out of a smooth cyclocross or gravel course. It features a bead-to-bead Endurant casing and BlackBelt technology for improved puncture protection under the tread, while the unrivaled GRIPTON compound makes it smooth rolling and tough enough for the rigors of a 'cross course</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
</div>