<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <meta name="description" content="About page">
  <meta name="author" content="Noah Britton">
  {{> mainhead}}
  <title>About - RB+F</title>
</head>

<body>
  {{> navbar}}
  <main class="flex-shrink-0">
    <div class="container">
      <h1 class="display-1" id="header">About</h1>
      <p class="lead text-center">learn a little bit about our company!</p>

      <h2> Our Vision </h2>
      <blockquote class="blockquote">
        <p class="mb-0">“To ensure all riders can build the bike of their dreams!” </p>
      </blockquote>
      <h2> Our History </h2>
      <p> Rockingham Bicycle + Fabrication was founded in a backyard workshop in 2002 in Stokesville, Virginia near the
        North River by Ron Alabanza. We are a small business, employing less than 50 people and are privately held,
        though employees may opt in and invest, making it an employee-owned company. We design and build high-end carbon
        fiber mountain and gravel bikes in small quantities compared to the big bicycle corporations. Our current
        corporate headquarters is now in Harrisonburg, Virginia and we just opened a new manufacturing facility in
        Rockingham County, just north of the city, increasing our production output. Though we are considered a
        "boutique" bike builder, we intend to expand their product line in the next year. We have established a small,
        but dedicated dealer network in the Mid-Atlantic and Northeast region states as well as California, Colorado,
        Washington, and Canada. </p>
      <h2> Our Products </h2>
      <p> Our standard models are carbon fiber mountain and gravel bicycles built to order through a dealer or online
        and then shipped to the retailer or directly to consumers. We currently have a small model range, but are
        developing two new bicycles to complement our current lineup. Every bike we manufacture is built with meticulous
        detail, using high-end components and the best materials. However, what sets us apart from other small bike
        manufacturers is that we are a true custom shop. Customers can select their frame size/configuration and RB+F
        will build a bicycle according to their personal measurements, riding style and specifications. RB+F will build
        their bike, from hand-layering the carbon fiber frame, to building custom wheel sets and using only the best
        component groups selected by the customer. </p>
      <h2> Our Manufacturing </h2>
      <p> Our design and fabrication personnel have over 85 combined years in the aerospace, motorsport racing and
        bicycle industries. All of our frames are designed and fabricated in-house in Virginia, using state-of-the art
        CAD and manufacturing equipment, along with personal expertise and detailed testing.</p>
      <h2> Our Proven Success </h2>
      <p> Our bikes have won one Enduro World Series, two US Big Mountain Enduro Championships and two Red Bull
        Rampages. Our racing résumé also includes a solid list of top-ten podium finishes in the US and Canada. We
        sponsor a team of three athletes that tour the world circuit. Our testing grounds are the chunky, technical
        trails around the North Mountain area as well as Massanutten, Snowshoe, and Bryce bike parks. </p>

      <h2> Meet the Team </h2>
      <p> Adrielle Benner is our team’s Butt Scratcher here at Rockingham Bicycle + Fabrication. She is an essential
        part of the team as she has saved many people from itchy butt syndrome that has been going around for the past
        few years in our office –Thanks GREG–. She prefers to work hanging upside down while she paints all the bike
        frames with their requested custom image. She spends time outside of work doing goat yoga on the moon using all
        natural materials and uses her floaty experience to improve our work environment at RB&F. </p>
      <p> Noah Britton is our team’s Smell Tester here at Rockingham Bicycle + Fabrication. He learned not to sniff at
        the bottom of our pool after sucking in all the water with his nose. Despite this, he has been an incredible
        help to ensure all our bikes match the new bike smell customers want by sniffing each and every one we have
        made. He spends most of his time outside fishing for fish in the specific ocean but typically ends up fishing
        out our bike parts straight from the bottom of the ocean. He has saved us thousands using his sharp sniffer and
        fishing skills for finding amazing bike parts. </p>
      <p> Another member of our team here at Rockingham Bicycle + Fabrication is Ashley Dupree. Ashley graduated with
        her Bachelor’s of Fine Arts Degree in May 2022. When not working, she is found traveling, adventure seeking, or
        spending time with her pets. She is our team’s Legal Ninja and Master of Disaster. Using her skills as a ninja,
        she frequently prevents pranks being pulled from others while at the office. However, the Master of Disaster
        side of her takes over and causes her to cause chaos and mayhem wherever she goes in our company. She has pulled
        hundreds of pranks, one involving the petting of cats and the Kline Campus Center—that we WILL not be speaking
        about. Thanks to all the pranks, she is incredibly gifted at running away. </p>
      <p> Jordan Davis is our team’s Meme Librarian here at Rockingham Bicycle + Fabrication. Jordan Davis is a new hire
        to the Eagle Tech company. She hates flying bugs, enjoys going to concerts, and is a Pisces. She develops all
        our company’s memes and catalogs them so everyone can see. She has all the memes on her desk and frequently
        communicates through memes via her amazing juggling ability which she developed in Australia. She also is an
        expert on pinning tails on donkeys as well and uses this skill to pin memes on our company’s donkeys who travel
        from room to room for the donkey delivery service. </p>
      <p> Another member of our team is Taylor Corbin who is our Dr. Fix-It. She is incredible at fixing blemishes and
        pimples on co-workers in our photos. She also fixes all of the office’s printers every time there is an issue
        because she has such a gift at fixing those annoying things. She learned her bug fixing ways when she began ant
        watching twelve years ago with her magnifying glass shining directly on those mighty ants. Additionally, she
        became an avid cloud drawing expert for our team to depict our business’s goals directly into the clouds using
        her air bending ways. However, she spends most of her time doing this hidden behind the breakroom’s freezer
        which she has claimed as her own. It’s fine though because we have weekly cloud watching sessions where she
        draws hilarious memes and pictures in the clouds. </p>
      <p> The last member of our team is Rachel Cubbage who is our Manager of Clean Underwear. This is a vital part of
        our team dynamics, I’m not entirely sure why, but it is after the incident that occurred three years ago when
        GREG didn’t follow our company’s policy on cleanliness and spread the Disaster of 2019 on everyone here at
        Rockingham Bicycle + Fabrication. Trust me, you really don’t want to know what happened during the Disaster, I
        promise you. Despite this, our team has been fully functioning ever since it occurred with Rachel ensuring
        everyone has proper cleanliness in the bathrooms and cleaning up the animal’s business as soon as it happens.
        She spends the majority of the time ensuring no one ever has the Disaster happen again by checking her favorite
        place, the bathroom, for any issues. Due to her dutifulness, she has the highest step count of the group as she
        walks from one corner to the office to the other over fifty times… she says she hates it though which is totally
        understandable because the building is HUGE. </p>
      <p> All members of our team are vital to ensure the operations of Rockingham Bicycle + Fabrication run as smoothly
        as possible. We couldn’t do it without our wonderful CEO Ron Alabanza who created this company to share his
        dream of custom bikes for everyone in the world. </p>
      <h1> Contact Us </h1>
      <h2> Address </h2>
      <p> Rockingham Bicycle + Fabrication </p>
      <p> 11034 John Wayland Highway </p>
      <p> Harrisonburg, VA 22802 USA </p>
      <h2> Phone Number </h2>
      <p> 888.434.2679 </p>
      <p> 540.434.9871 </p>
      <h2> Social Media </h2>
      <p> Instagram: @rockinghambikefabrication </p>
      <p> Facebook: Rockingham Bike + Fabrication </p>
      <p> LinkedIn: Rockingham Bike + Fabrication </p>
      <p> Youtube: Rockingham Bike + Fabrication </p>

    </div>
  </main>
  {{> footer}}
  {{> bootstrap}}
</body>

</html>