<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <meta name="description" content="Home page">
  <meta name="author" content="Noah Britton">
  {{> mainhead}}
  <title>Homepage - RB+F</title>
</head>

<body>
  {{> navbar}}
  {{> mainCarousel}}
  {{> centerCards}}
  {{> footer}}
  {{> bootstrap}}
</body>

</html>