<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <meta name="description" content="About page">
  <meta name="author" content="Noah Britton">
  {{> mainhead}}
  <title>About - RB+F</title>
</head>

<body>
  {{> navbar}}
  <main class="flex-shrink-0">
    <div class="container">
      <p> This describes our Privacy Policy for how your personal information is collected, used, and shared when you
        visit or make a purchase from https://rb-and-f.herokuapp.com/</p>
      <h2> Personal Information We Collect </h2>
      <p> We automatically collect certain personal information about your device such as your web browser, IP address,
        time zone, and some cookies that are installed on your device when you visit our site. As you browse, we collect
        information about the web pages or products that you view. What websites or search terms referred to our site,
        and information about how you interact with our site. We call this information device information. We collect
        this information using cookies, log files, web beacons, tags, and pixels. Additionally, we collect information
        when you make a purchase such as your name, billing address, shipping address, payment information, email
        address, and phone number which we refer to as order information. Personal information is both device
        information and order information. </p>
      <h2> How Do We Use Your Personal Information? </h2>
      <p> We use the information we collect to fulfill any orders placed through our site to : </p>
      <ul>
        <li> Communicate with you </li>
        <li> Screen our orders for potential risk or fraud </li>
        <li> When in line with the preferences you have shared with us to provide you with information or advertising
          relating to our products or services. </li>
      </ul>
      <h2> Sharing Your Personal Information </h2>
      <p> We share the information we collect with third parties to help us use your personal information. We may also
        share your personal information to comply with applicable laws and regulations to respond to a lawful request
        for information we receive or otherwise protect our rights. </p>
      <h2> Your Rights </h2>
      <p> You have the right to access the personal information we hold about you and to ask it to be corrected,
        updated, or deleted. To do so, please contact us at support@rockighambikefabrication.com. </p>
      <h2> Data Retention </h2>
      <p> When you place an order through our website, we will maintain your order information for our records unless
        and until you ask us to delete it. </p>
      <h2> Changes </h2>
      <p> We may update this policy at any time in order to reflect our changes to our practices or for other
        operational, legal, or regulatory reasons. </p>
      <h2> Contact Us </h2>
      <p> For more information about our privacy policy practices, have questions, or would like to make a complaint,
        please contact us by email at support@rockighambikefabrication.com or by phone at 540.434.4357. </p>
    </div>
  </main>
  {{> footer}}
  {{> bootstrap}}
</body>

</html>