<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <meta name="description" content="Support page">
  <meta name="author" content="Noah Britton">
  {{> mainhead}}
  <title>Support - RB+F</title>
</head>

<body>
  {{> navbar}}
  <main class="flex-shrink-0">
    <div class="container">
      <h1> Support </h1>
      <p> If you are having any trouble accessing your order, please contact our customer service support team through
        email at customer_support@rockinghambikefabrication.com or by phone at 540-434-4357 or 540-434-HELP. Our hours
        of operation are 8 a.m. to 5 p.m. Monday through Friday. </p>
      <p> If you are experiencing any issues with the bike itself, please contact
        bike_support@rockinghambikefabrication.com or by phone at 540-434-2453 or 540-434-BIKE. Our hours of operation
        are 8 a.m. to 5 p.m. Monday through Friday. Otherwise, look at our youtube channel for at-home assistance on
        troubleshooting typical bike issues at Rockingham Bike + Fabrication. We have a playlist filled with helpful
        guides that will show you how to fix your bike at home as long as you have some simple tools for it. </p>
      <p> For any other questions about support, please fill out a questionnaire form on the FAQs page and where an
        employee will reach out to you and answer any questions you have. This will help us answer other questions
        others may have about our products and prevent several inquiries from occurring about the same question. Your
        questions may already be answered on our FAQs page. </p>

    </div>
  </main>
  {{> footer}}
  {{> bootstrap}}
</body>

</html>